body {
  height: 100vh;
  background-color: blue;
  background-image: url('../img/pequena.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

#scan-form {
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

nav.hot-bar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  padding: 1.2rem;
}

nav.hot-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav.hot-bar ul li {
  margin-right: 2rem;
}

nav.hot-bar ul li a {
  color: white;
  text-decoration: none;
}

nav.hot-bar ul li a:hover {
  text-decoration: underline;
}

nav.hot-bar ul li:last-child {
  margin-left: auto;
}

#scan-form input[type="text"] {
  width: 45rem;
  padding: 1rem;
  margin: 2rem 0rem 1.5rem 20rem;
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
}

#scan-form button {
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  background-color: #FFA500;
  color: white;
  margin-right: 17.5rem; 
}

#scan-form button:hover {
  background-color: #FF8C00;
}

h1 {
  margin-top: 3rem;
  text-align: center;
}
