
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>TPW</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicial.css' %}">
</head>
<body>
    <nav class="hot-bar">
        <ul>
            <li id="user-info">Usuário: <span class="username">{{ user.username }}</span></li>
            <li><a href="{% url 'logout' %}">Sair</a></li>
        </ul>
    </nav>

    <h1>Teste de Penetração Web</h1>
    
    <form id="scan-form">
        {% csrf_token %}
        <input type="text" name="url" id="url-input" placeholder=" URL"> 
        <button type="button" onclick="runScan()">Executar Varredura</button>
    </form>
    
    <script src="{% static 'js/scan.js' %}"></script>
</body>
</html>
