{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/regis.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        
        {% if form.errors %}
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
        <ul>
            <li>Deve ter, no mínimo, 12 caracteres</li>
            <li>Deve incluir letras maiúsculas e minúsculas (a-z e A-Z)</li>
            <li>Deve incluir um número (0-9)</li>
            <li>Deve incluir um caractere especial (!, @, #, %, etc.)</li>
            <li>Não deve se parecer com um endereço de e-mail</li>
        </ul>
        
        <div class="input-group">
            <input type="text" name="username" placeholder="Nome de Usuário">
            <input type="email" name="email" placeholder="E-mail">
            <input type="password" name="password1" placeholder="Senha">
            <input type="password" name="password2" placeholder="Confirmar Senha">
            <button type="submit">Registrar</button>
        </div>
            
        
    </form>
</body>
</html>
